@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css');

.header_section {
    background-color: #2e2f42;
    margin: 0;
    text-align: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo_span {
    color: #2e2f42;
}

.nav_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav_link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.nav_link:hover,
.nav_link:focus {
    color: #404bbf;
}

.contact_info {
    font-style: normal;
    text-align: center;
}

.contact_link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.contact_link:hover,
.contact_link:focus {
    color: #404bbf;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.main_section {
    background-color: #2e2f42;
    margin: 0;
    text-align: center;
}

.main_title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.main_button {
    background-color: #4d5ae5;
    color: #ffffff;
    border: none;
    margin: 15px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.main_button:hover,
.main_button:focus {
    background-color: #404bbf;
}

.custom_header,
.privilege_header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.privilege_description {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-background {
    background-color: #F4F4FD;
    margin: 0;
}

.main-heading {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
}

.our_service {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list_info {
    background-color: #FFFFFF;
    margin: 10px 0;
    text-align: left;
}

.heading_info {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraph_info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer_section {
    background-color: #2e2f42;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

.footer_logo {
    color: #4d5ae5;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.footer_logo_span {
    color: #ffffff;
}

.footer_description {
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
}
